HADOOP_HOME=C:\Prediction\sw\hadoop-3.3.5
PYSPARK_PYTHON=python
SPARK_HOME=C:\Prediction\sw\spark-3.5.7-bin-hadoop3
JAVA_HOME=C:\Program Files\Microsoft\jdk-11.0.16.101-hotspot
ENVIRONMENT=development
LOG_LEVEL=INFO
#JDBC_URL=jdbc:sqlserver://10.190.4.36\SQLEXPRESS
JDBC_URL=jdbc:sqlserver://localhost:1433
JDBC_USER=usr_train
JDBC_PASSWORD='"00OwA7%X"3X'
START_YEAR=2025
END_YEAR=2026
DOUBLE_FROM_YEAR=2022
EXECUTION_DAY=2026-01-10
LAG_EXECUTION=60
HISTORY_DAYS=15
QUEUE_NAME=queue-mailing-basic
QUEUE_CN=